body {
  margin: 0;
  background-image: url(https://images.pexels.com/photos/2818656/pexels-photo-2818656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

h1 {
  background-color: #ea5169;
  color: black;
  font-family: 'Life Savers', cursive;
  text-align: center;
  letter-spacing: 5px;
  font-size: 55px;
  padding: 20px 0;
  width: 100%;
}

.description {
  width: 30%;
  float: right;
  padding: 50px;
  margin: 5px 12% 30px;
  line-height: 1.75em;
}

.borderImg {
  border: 30px solid transparent;
  padding: 15px;
  border-image: url(images/border.png) 33% round;
  background-color: rgba(255, 255, 255, 0.7);
}

.imageGrid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items:flex-end;
  margin-top: 40%;
}

.imageGrid img {
  width: 20%;
  border-radius: 50%;
  border: 10px solid #6fc059;
}
